:root {
	--button-static: #e0aaff;
}

html, body {
	position: relative;
	height: 100%;
	font-size: 16px;
}
body {
	margin: 0;
}

h1 {
	height: 0;
	visibility: hidden;
}

.grid-max-center {
	max-width: 90rem;
	margin: 0 auto;
}

.logopad {
	padding-left: 6.8rem;
}

.hover-b--light-green:focus,
.hover-b--light-green:hover {
	border-color: var(--light-green);
}

.services-list {
	column-count: 1;
}
.services-list div {
	break-inside: avoid-column;
}
@media screen and (min-width: 30em) {
	.services-list {
		column-gap: 2rem;
		column-count: 2;
	}
}
@media screen and (min-width: 60em) {
	.services-list {
		column-gap: 2rem;
		column-count: 3;
	}
}

.services-list .icon-circle {
	background: var(--green);
	margin-right: .5rem;
	padding: 2px;
	height: 22px;
	width: 22px;
	transform: translate3d(0,2px,0);
}

.wwo-section svg {
	fill: var(--dark-blue);
	width: 4rem;
	height: auto;
}

.left-col-heading {
	flex: 0 0 182px;
}