<!doctype html>
<html lang="en-US">
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-BGVLKK5051"></script>
		<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-BGVLKK5051');</script>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="static/img/favicon.ico">
		<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="dcterms.date" content="2023-10-20">
		<meta name="robots" content="index,follow">
		<meta name="geo.country" content="US">		
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="owner" content="Launchcode Studios">
		<meta name="developer" content="Launchcode Studios">
		<meta name="robots" content="index, follow">
		<meta property='og:title' content='Launchcode Studios'/>
		<meta property="og:image" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="https://launchcodestudios.com/" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />
		
		<title>Launchcode Studios</title>
		
		<link href="static/tachyons.min.css" rel="stylesheet">
		<link href="static/bloodline.min.css" rel="stylesheet">
		<link href="static/site.css" rel="stylesheet">
		
	</head>
	<body class="helvetica bg-white f4">
		<div class="tc mv4">Coming soon</div>
	</body>
</html>

